<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>reset code</title>
  </head>
  <style>
    *{ }
  </style>
  <body style='text-align: center;font-family:cursive'>
    <h1>hi {{name}}</h1>
    <br />
    <p>your password reset code is {{code}}</p>
  </body>
</html>